<nav class="navbar navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Formation" routerLinkActive="text-dark">Formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Expériences" routerLinkActive="text-dark">Expériences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Compétences" routerLinkActive="text-dark">Compétences</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/CompétencesSoftSkills" routerLinkActive="text-dark">CompétencesSoftSkills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Certificats" routerLinkActive="text-dark">Certificats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/ProjetsAcadémiques" routerLinkActive="text-dark">Projets Académiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/ProjetsPersonnels" routerLinkActive="text-dark">Projets Personnels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/ÀProposDeMoi" routerLinkActive="text-dark">ÀProposDeMoi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/ContactMe" routerLinkActive="text-dark">Contact Me</a>
            </li>
        </ul>
    </div>
</nav>
