<div class="container">
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Let's get in touch</h3>
            <p class="text">
                Mes Coordonnées :
            </p>
            <div class="info">
                <div class="information">
                    <img src="./img/adresse.png" class="adresse" alt="">
                    <p>BD ghandie Rue ibnou hazim</p>
                </div>
                <div class="information">
                    <img src="/AngularPortfolioWebSite/src/app/contact-me/img/email.png" class="email" alt="">
                    <p>elalaouiomar1998@gmail.com</p>
                </div>
                <div class="information">
                    <img src="./img/phone.png" class="phone" alt="">
                    <p>0660068255 / 0522945544 </p>
                </div>
            </div>

            <div class="social-media">
                <p>Connect with me :</p>
                <div class="information">
                    <img src="" class="github" alt="">
                    <p>https://github.com/Alaouiomar</p>
                </div>
                <div class="information">
                    <img  class="linkdln" src="" alt="">
                    <p>https://www.linkedin.com/in/omar-el-alaoui-el-aoufoussi-46a796253/</p>
                </div>
            </div>

        </div>
     
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form>
                <h3 class="Title">Contact Me</h3>
                <div class="input-container focus">
                   <input type="text" name="name" class="input">
                   <label for="">Username</label>
                   <span>Username</span>
                </div>
                <div class="input-container focus">
                    <input type="email" name="email" class="input">
                    <label for="">Email</label>
                    <span>Email</span>
                 </div>
                 <div class="input-container focus">
                    <input type="tel" name="phone" class="input">
                    <label for="">Phone</label>
                    <span>Phone</span>
                 </div>
                 <div class="input-container textarea focus">
                    <textarea  name="message" class="input"></textarea>
                    <label for="">Message</label>
                    <span>Message</span>
                 </div>
                 <input type="submit" value="Send" class="btn">
            </form>
        </div>
    </div>
</div>

