<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
             <div class=" text-center">
                 <h2>About Me</h2>
                 <img alt="me" src="../../assets/me.jpg" width="256" height="256" class="rounded-circle">
                <p>
                    Ingénieur d'État en informatique et réseaux avec une expertise polyvalente dans la conception et la mise en œuvre de solutions technologiques avancées. <br>
Doté d'une solide expérience dans la gestion de projets et l'analyse des besoins clients, je suis toujours à la recherche de solutions novatrices pour répondre aux défis techniques actuels. <br>
Animé par une soif d'apprendre et de relever de nouveaux défis. <br>
                </p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class=" text-center">
             <h2>Featured Projects</h2>   
             <br>
             <img alt="Featured Projects" src="../../assets/featuresproject.png" width="256" height="256" class="rounded">
             <br>
             <br>
             <br>
             <p>"Une règle simple s’applique en création d’entreprise : faites ce qui est le plus facile d’abord pour avancer rapidement par la suite." <br>— Mark Zuckerberg, PDG et cofondateur de Facebook </p>
            </div>
        </div>
    </div>
</div>
